/* styles.css */

body {
  background-color: antiquewhite;
  margin: 0;
  padding: 40px;
  text-align: center;
}

.headline {
  margin-top: 30px;
  border-top: 2px solid #111111;
  border-bottom: 2px solid #111111;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  color: midnightblue;
  font-size: 70px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  color: black;
  font-size: 30px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  color: darkred;
  font-size: 30px;
}

h4 {
  font-family: "Playfair Display SC", serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

p {
  font-family: "Playfair Display", serif;
}

button {
  font-family: "Playfair Display SC", serif;
  font-size: 30px;
  color: red;
  background-color: silver;
  border: 2px solid midnightblue;
  padding: 12px 25px;
}

button a {
  color: darkred;
  text-decoration: none;
}

button:hover {
  background-color: midnightblue;
}

button:hover a {
  color: antiquewhite;
}

.choice-button {
  display: block;
  margin: 20px auto;
  width: 65%;
}

.score {
  color: red;
  font-size: 24px;
}
