/* styles.css */

.headline {
	margin-top: 30px;
	border-top: 2px solid #111111;
	border-bottom: 2px solid #111111;
	text-align: center;


}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
	text-align: center;

}
  
	
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;

}

h3 {
	font-family: "Playfair Display", serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

h4 {
	font-family: "Playfair Display SC", serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}
button {
  font-family: "Playfair Display SC"; serif;
  font-size: 30;
color: red;
}
